<div class="parent-comment">
  <%= render 'comments/body', comment: comment, del_sign: 'delete-child-btn' %>
  <% if comment.comments.present? %>
    <%= render 'comments/parent-list', comment: comment%>
  <% end %>
  <div></div>
</div>
