// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#a a {
  color: inherit !important;
}

a:hover {
  text-decoration: none !important;
}

.sticky {
  margin-top: 56px;
}

.q {
  margin-top: 40px;
}