body {
  position: relative;
  background-color: #BBBBBB;
}

.nav-bar-priority {
  z-index: 100;
}

#content {
  z-index: 98;
}

.info {
  z-index: 99;
  text-align: center;
  position: fixed;
  padding: 7px 0;
  width: 100%;
  margin-top: -40px;
  animation: toggle 4s ease-in-out 1;
}

@keyframes toggle {
  0% {
    margin-top: -40px;
  }

  10% {
    margin-top: 0;
  }

  90% {
    margin-top: 0;
  }

  100% {
    margin-top: -40px;
  }
}

.alert-massage-success {
  background-color: lawngreen;
}

.alert-massage-danger {
  background-color: indianred;
}

.alert-massage-warning {
  background-color: yellow;
}

.alert-massage-info {
  background-color: deepskyblue;
}
