// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ul {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}

.ul li {
  margin-top: 5px;
}

#set {
  margin: 0 0 0 0;
  padding: 0;
}

#set {
  height: 200px;
  background-color: #BBBBBB;
}

.image{
  width: 100%;
  height: 300px;
  background: url('https://i.pinimg.com/originals/59/dd/0c/59dd0c3c235a3e9532cef98d0f1f8cf0.png') no-repeat center center;
  background-size: cover;
}